:root {
  --main-accent: black;
  --header-height: 4em;
  --error: #cc1010;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: Inter;
  src: url('./Inter-VariableFont.ttf');
}

@font-face {
  font-family: Rocks;
  src: url('./chinese-rocks-rg.otf');
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  font-family: arial;
  background-color: #222;
  color: white;
}

header {
  padding-top: 20px;
  text-align: center;
  font-size: 80px;
  font-family: Rocks;
  color: #c69e56;
}

main {
  padding: 2em;
  display: flex;
  gap: 2em;
}

footer {
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: center;
  color: #ccc;
  font-size: 0.9em;
}

a {
  color: inherit;
}

a:hover {
  text-decoration: none;
}

section {
  border-radius: 10px;
  background-color: #333;
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

button {
  padding: 0.5em;
  border-radius: 5px;
  border: 1px solid #aaa;
  color: white;
  cursor: pointer;
  border-radius: 5em;
  padding: 0.5em 1em;
  background-color: transparent;
}

input, textarea, select {
  background-color: black;
  border: 2px solid #333;
  border-radius: 5px;
  padding: 10px;
  resize: none;
  color: white;
}

.form input {
  width: 30em;
}

.tip {
  color: #ccc;
  font-size: 0.9em;
}

label {
  margin-top: 1em;
  display: block;
  color: #ccc;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

button:hover {
  background-color: #444;
}

.card-json {
  width: 50vw;
  height: 50vh;
  font-size: 0.8em;
  resize: both;
}

.error, .invalid {
  color: #f16363;
}

.error {
  padding: 1em;
}

.size {
  font-size: 0.8em;
  color: #666;
}

button.primary {
  background-color: #528152;
  color: white;
  padding: 10px 20px;
  border: 0;
}

button.primary:hover { 
  filter: brightness(0.95);
}

button:disabled {
  cursor: default;
}